<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is for doctors, nurses and techs
    <br><br>
    <a href="{{ url_for('home') }}">Go Home</a>
    <br><br>
    <a href="{{ url_for('logout')}}">Log out</a>
    <br><br>
    <a href="{{ url_for('medEditsData')}}">Edit Data</a>
    <br><br>
    <a href="{{ url_for('medViewsData') }}">View data</a>
    <br><br>
    <a href="{{ url_for('medtest') }}">Testing only</a>
</body>
</html>